
      <div class="modal-body">
        <div class="warning-text">
          <i class="fa fa-trash fa-2x" aria-hidden="true"></i><span class="delete-title">Delete</span>
          <i class="close-icon fa fa-times" ng-click="$dismiss()"></i>
        </div>
          <hr>
          <div class="buttons-holder clearfix text-right">
            <button type="button" class="btn "
              ng-click="$dismiss()">
                No
            </button>
            <button type="button" class="btn btn-danger"

                    ng-click="$close()">
                    Yes
            </button>
          </div>
      </div>

